brand:hover, .navbar-custom .navbar-nav li a, header {
    color: black;
}

.navbar-custom {
    background-color: rgba(255,255,255,0.9);
}

.navbar-brand {
    height: 30px;
}

header {
    background: #d4ca00;
}

.navbar-custom .navbar-nav li a:active, .navbar-custom .navbar-nav li a:focus, .navbar-custom .navbar-nav li a:hover {
    color: #d4ca00;
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
    color: #fff;
    background: #d4ca00;
}

.navbar-custom .navbar-toggle {
    color: #d4ca00;
    border-color: #d4ca00;
    background: #fff;
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    color: #fff;
    border-color: #fff;
    background: #d4ca00;
}

.nav>li {
    text-align: center;
}

.navbar-brand {
    padding: 0;
}
.navbar-brand img{
    width: 100%;
    margin-top: -20px;
}

section.success {
    background: #d4ca00;
    color: black;
}

.btn-outline {
    color: #d4ca00;
    font-size: 20px;
    border: 2px solid black;
    background: 0 0;
    transition: all .3s ease-in-out;
    margin-top: 15px;
}

.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
    color: black;
    background: #d4ca00;
    border: 2px solid #d4ca00;
}

hr.star-light {
    border-color: black;
}
hr.star-light:after {
    background-color: black;
    color: #d4ca00;
}

hr.star-primary:after {
    background-color: #000;
    color: #d4ca00;
}

footer {
    color: black;
}

footer .footer-above {
    background-color: #d4ca00;
}

footer .footer-below {
    background-color: #ada500;
}

footer .btn-outline {
    color: black;
}

footer .btn-outline.active, footer .btn-outline:active, footer .btn-outline:focus, footer .btn-outline:hover {
    color: #d4ca00;
    background: black;
    border: 2px solid black;
}

a, a.active, a:active, a:focus, a:hover {
    color: #666666;
}

p a{
    text-decoration: underline;
}

.push-nav {
    margin-bottom: 160px;
}

header .container {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 800px;
}

.portfolio-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    max-width: 350px;
}

// .portfolio-item a {
//     width: 300px;
//     height: 300px;
//     border: 2px black solid;
//     border-radius: 25px;
// }

.portfolio-item a .text{
    padding: 10px;
    overflow: hidden;
    max-height: 300px;
    text-overflow: ellipsis;
}

// .portfolio-item a h3{
//     margin-top: 0;
// }

.portfolio-item a:hover {
    text-decoration: none;
}

.portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 0.8;
}

.portfolio .portfolio-item .portfolio-link .caption {
    background: #ada500;
    border-radius: 25px;
}

.courseTitle {
    text-align: center;
}

.classList a {
    text-decoration: none;
    display: flex;
}

.courseImage {
    text-align: center;
}

.courseImage img{
    max-width: 100%;
}

.content-head {
    margin-top: 0;
}

.classList .module-image img {
    width: 196px;
}
.classList .module-image {
    width: 196px;
    flex-shrink: 0;
}
.classList .module-text {
    margin-left: 2em;
    vertical-align: top;
}

.classList .classInfo {
    background-color: #d4ca00;
    padding: 0.5em;
    margin: 0.5em;
    transition: background 0.2s ease;
}

.classList .classInfo:hover {
    background-color: #ada500;
}

.mainSection {
    margin-bottom: 50px;
    max-width: 100%;
    word-wrap: break-word;
}
.mainSectionFlex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.mainSectionFlex .row {
    max-width: 35vw;
}

.member .description img {
 float: left;
}

.course iframe {
    max-width: 100%;
}

@media (max-width: 600px) {

    .classList a {
        flex-wrap: wrap;
        justify-content: center;
    }

    .content-head {
        margin-top: 1em;
        text-align: center;
    }

    .classList .module-text {
        margin-left: 0;
    }

}

.selectLocal {
    max-width: 10em;
    margin: 8px auto;
}

.navbar-nav {
    padding-left: 5.8em;
}

@media (min-width: 768px){
    .selectLocal {
        position: absolute;
        top: 0;
        right: 0;
    }
}

svg.arrow {
    width: 10px;
    height: 10px;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1.59);
}

svg.arrow path{
    stroke: black;
    stroke-width: 1px;
}

.memberHeader {
    cursor: pointer;
    text-align: center;
}

.memberHeader:hover svg.arrow {
    transform: rotate(180deg);
}

.memberHeader.open:hover svg.arrow {
    transform: rotate(0deg);
}

.memberHeader.open svg.arrow {
    transform: rotate(180deg);
}

.member .description {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}


.member .description.project{
    flex-direction: column;
}

.member .description img {
    margin-right: 1em;
    border-radius: 10px;
    max-height: 10em;
}

.member .description.project img {
    max-width: 400px;
    margin: 20px auto;
}

.member .description a {
    font-weight: bold;
}

.memberHeader.open + .description {
    max-height: 5000px;
}

.member .description li {
    font-size: 20px;
}

.homepage {
 max-width: 60em;
}

.homepage .features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homepage .feature {
    width: 50%;
    background-color: #d4ca00;
    padding: 0.5em;
    margin: 0.5em;
}

.homepage a.feature {
    text-decoration: none;
    transition: background 0.2s ease;
}

.homepage a.feature:hover {
    background-color: #b0a800;
}

@media (max-width: 800px) {
    .homepage .features {
        flex-direction: column;
    }

    .homepage .feature {
        width: 100%;
    }
}

.nav.navbar-nav.navbar-default {
    background: none;
}


.conferences--wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-gap: 1em;
    direction: rtl;
    justify-content: center;
    margin: auto;
    max-width: 900px;
}

.conferences--item {
    text-align: left;
    color: black;
    background-color: rgba(0,0,0,0);
    transition: background 0.2s ease;
    direction: ltr;
}

.conferences--item:hover, .conferences--item:active, .conferences--item:focus{
    text-decoration: none;
    color: black;
    background-color: rgba(0,0,0, 0.1);
}

.conferences--info {
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
}
.conferences--info--date {
    font-size: 1.2em;
}

.conferences--info--description {
    height: 8.86em;
    overflow-y: auto;
}

.conferences--info--description--title {
    line-height: 1.2em;
    min-height: 2.6em;
    font-weight: bold;
}

.conferences--info--description--body p {
    font-size: 1em;
}

.conferences--intervenant {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    width: 95%;
   padding-top: 0.5em;
}


.conferences--intervenant--picture {
    z-index: 2;
}

.conferences--intervenant--picture > img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid #D4CA00;
    object-fit: cover;
    background-color: white;
}

.conferences--intervenant--name {
    padding-left: 3em;
    margin-top: -1em;
    border-bottom: 5px solid #D4CA00;
    margin-left: -2em;
    z-index: 1;
}

section#home {
 // background: #FEFE00;   
}

section#home img {
 border-radius: 50%;   
}

.home section:nth-child(even), .home .section:nth-child(even) section {
    background: #d4ca00;
}

.home h2 {
    text-align: center;
}

.home section {
 overflow: hidden;   
}
.home .section:nth-child(even)  {
    background: white;
}
.home .section:nth-child(even) section {
    background: #d4ca00;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}

.home .section:nth-child(odd)  {
    background: #d4ca00;
}
.home .section:nth-child(odd) section {
    background: white;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

table .oneline {
  white-space: nowrap;
}
table .bigcell {
  min-width: 15em;
}
