body {
    width: 100vw;
    overflow-x: hidden;
}

.splash-head {
    width: 88%;
    max-width: 800px;
    margin: auto;
}

.fa-big {
    font-size: 15em;
}

.splash-container {
    background: #008B8B;
    width: 100vw;
    overflow-x: hidden;
}
label {
    color: #005757;
}

.home-menu, .ribbon {
    background: #005757;
    opacity: 0.9;
}

.pure-button {
    background-color: #3CAAAA;
}

a.pure-button-primary, .home-menu a, .content-subhead {
    color: #3CAAAA;
}

.splash {
    top: 0px;
    width: initial;
}

.content-wrapper {
    padding-top: 2em;
    position: relative;
    margin-top: 100vh;
}

cours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    max-width: 1064px;
}

classe {
    display: inline-block;
    max-width: 250px;
    width: 100%;
    height: 250px;
    background: #3CAAAA;
    margin: 0.5em;
    padding: 0.5em;
    overflow: hidden;
    border-radius: 5%;
}

classe h2.content-head {
    margin: 0;
}

classe p, .classInfo p{
    color: white;
}

.redactor-editor {
    background-color: grey;
}

.page {
    margin-top: 6em;
    min-height: calc(100vh - 6em - 4.7em);
}
 #footer-text {
    margin-right: -8em;
 }

#localPicker {
    float: right;
    margin-right: 2em;
    width: 6em;
}

.classList a{
    text-decoration: none;
    display: flex;
}

.classInfo {
    background-color: #3CAAAA;
    padding: 0.5em;
    margin: 0.5em;
}

a.back {
    text-decoration: none;
    margin-left: 0.5em;
    color: #34495e;
}

.custom-wrapper {
    background-color: #ffd390;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.list-module {
    display: inline-block;
}

.module-image {
    width: 196px;
    flex-shrink: 0;
}

.module-image img{
    width: 196px;
}

.module-text {
    margin-left: 2em;
    vertical-align: top;
}

.module-text .content-head {
    margin: 0em 0 1em 0;
}

.courseHeader {
    text-align: center;
}
@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}