[builderDetails footerContent]
modelClass = "LTN\ElearningCourses\Models\PageContent"
identifierValue = "footer"
modelKeyColumn = "slug"
displayColumn = "content"
notFoundMessage = "Record not found"

[builderList menuPage]
modelClass = "LTN\ElearningCourses\Models\PageContent"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "order"
sortDirection = "asc"

[localePicker]
forceUrl = 0

[piwik]
==
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{"site title"|_}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ 'assets/freelancer/vendor/bootstrap/css/bootstrap.min.css'|theme }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ 'assets/freelancer/css/freelancer.min.css'|theme }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ 'assets/freelancer/vendor/font-awesome/css/font-awesome.min.css'|theme }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    {% styles %}
    <link rel="stylesheet" href="{{ 'assets/css/style_freelancer.css'|theme }}">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{'home'|page }}"><img src="{{ 'assets/img/mockup_7_logo.png'|theme }}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-default">
                    <li class="hidden">
                        <a href="{{'home'|page }}"></a>
                    </li>
                   <!-- <li class="{% if (this.page.id == 'home') %}active{% endif%}">
                        <a href="{% if this.page.id != 'home' %}{{'home'|page }}{% endif%}">{{"Tous Citoyens du Net"|_}}</a>
                    </li> -->


                    {% set pages = menuPage.records %}
                    {% set displayColumn = menuPage.displayColumn %}
                    {% set noRecordsMessage = menuPage.noRecordsMessage %}
                    {% set detailsPage = menuPage.detailsPage %}
                    {% set detailsKeyColumn = menuPage.detailsKeyColumn %}
                    {% set detailsUrlParameter = menuPage.detailsUrlParameter %}

                    {% for menuPage in pages %}
                        {% if menuPage.in_menu %}
                        <li class="{% if (this.param['slug'] == menuPage.slug) or (this.page.url == '/page/' ~ menuPage.slug) %}active{% endif%}">
                          <!-- <a style="{% if menuPage.color %}color:{{menuPage.color}};{% endif%}" href="{{'page-contenu'|page({ ('slug'): menuPage.slug }) }}">{{menuPage.title}}</a> -->
                            <a style="{% if menuPage.color %}color:{{menuPage.color}};{% endif%}" href="/page/{{ menuPage.slug }}">{{menuPage.title}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}

                   <li class="{% if this.page.id == 'blog' %}active{% endif%}">
                        <a href="{{'blog'|page}}">{{"Nos Ressources"|_}}</a>
                    </li>
                    
                    {{ form_open({class: 'navbar-form navbar-right selectLocal'}) }}
                        <select name="locale" data-request="onSwitchLocale" class="form-control">
                            {% for code, name in locales %}
                                <option value="{{ code }}" {{ code == activeLocale ? 'selected' }}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    {{ form_close() }}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="push-nav"></div>
    {% page %} 

    <!-- Footer -->
    <footer class="text-center">
        {% set record = footerContent.record %}
        {% set displayColumn = footerContent.displayColumn %}
        {% set notFoundMessage = footerContent.notFoundMessage %}

        {% if record %}
            {{ attribute(record, displayColumn) |raw}}
        {% else %}
            {{ notFoundMessage }}
        {% endif %}
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->


    <!-- jQuery -->
    <script src="{{ 'assets/freelancer/vendor/jquery/jquery.min.js'|theme }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ 'assets/freelancer/vendor/bootstrap/js/bootstrap.min.js'|theme }}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ 'assets/freelancer/js/jqBootstrapValidation.js'|theme }}"></script>
    <script src="{{ 'assets/freelancer/js/contact_me.js'|theme }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ 'assets/freelancer/js/freelancer.min.js'|theme }}"></script>
    {% framework %}
    {% scripts %}
</body>

</html>