title = "ressources"
url = "/page/ressources"
layout = "freelancer"
is_hidden = 0

[viewBag]
localeTitle[en] = "Resources"
localeUrl[en] = "/page/resources"

[builderList]
modelClass = "LTN\ElearningCourses\Models\BlogPost"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "date"
sortDirection = "desc"
==
{% set posts = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="container course mainSection">
    {% for post in posts %}
    <div class="row">
    
    <a href="/page/ressources/{{ post.slug }}">
        <h1 class="">{{ post.title }}</h1>
    </a>
        <ul class="list-inline item-details ">
            <li>{{"Date"|_}}:
                <strong>{{ post.date | strftime('%A, %d %B %Y %H:%M') | ucfirst }}</strong>
            </li>
            {% if post.tags %}
            <li>{{"Tags"|_}}:
                {% for tag in post.tags %}<strong>{% if loop.index0 %}, {% endif %}{{tag}}</strong>{% endfor %}
            </li>
            {% endif %}
        </ul>
    </div>
        <hr class="star-primary">
    {% endfor %}
</div>