title = "Détail de la conférence"
url = "/detail-de-la-conference/:slug"
layout = "freelancer"
is_hidden = 0

[builderDetails]
modelClass = "LTN\ElearningCourses\Models\Conference"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
{% set conference = builderDetails.record %}
        {% set displayColumn = builderDetails.displayColumn %}
        {% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="container course mainSection">
    <div class="row">
        <a class="back" href="{{ 'home'|page }}#conferences"><i class="fa fa-arrow-left"></i> {{"Retour à la liste des conférences"|_}}</a>

        <div class="col-lg-12">

            {% if conference.picture %}
                <div class="courseImage">
                    <img src="{{conference.picture|media}}"/>
                </div>
            {% endif %}

            <h2 class="courseTitle">{{ conference.title }}</h2>
            <hr class="star-primary">
            <ul class="list-inline item-details">
                <li>Date:
                    <strong>{{ conference.date | strftime('%A, %d %B %Y %H:%M') | ucfirst }}</strong>
                </li>
                <li>{{"Adresse"|_}}:
                    <strong><a target="_blank" href="https://www.google.fr/maps/place/{{ conference.address~', '~conference.zipcode~' '~conference.city~', '~conference.country | url_encode }}">{{ conference.address~', '~conference.zipcode~' '~conference.city~', '~conference.country }}</a>
                    </strong>
                </li>
                {% if conference.tags %}
                <li>{{"Tags"|_}}:
                    {% for tag in conference.tags %}<strong>{% if loop.index0 %}, {% endif %}{{tag}}</strong>{% endfor %}
                </li>
                {% endif %}
            </ul>
            {{ conference.description|raw }}
            {% if conference.link %}
                <p>
                    <strong><a target="_blank" href="{{ conference.link }}">{{ conference.link }}</a></strong>
                </p>
            {% endif %}
            {% if conference.modules.length %}
            <ul class="list-inline item-details">
                <li>{{"Modules liés"|_}}:</li><br/>
                {% for module in conference.modules %}
                <li><strong><a target="_blank" href="{{ 'detail-de-la-classe'|page({ slug: module.slug}) }}">{{ module.title }}</a></strong></li><br/>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>
</div>