title = "Détail du cours"
url = "/course/:slug"
layout = "freelancer"
is_hidden = 0

[builderDetails]
modelClass = "LTN\ElearningCourses\Models\Course"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"

[builderList classList]
modelClass = "LTN\ElearningCourses\Models\Module"
scope = "-"
displayColumn = "slug"
noRecordsMessage = "No records found"
detailsPage = "detail-de-la-classe"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="container course mainSection">
    <div class="row">
    <a class="back" href="{{ 'home'|page }}#courses"><i class="fa fa-arrow-left"></i> {{"Retour à la liste des cours"|_}}</a>
        <div class="col-lg-12">
            {% if record.picture %}
                <div class="courseImage">
                    <img src="{{record.picture|media}}"/>
                </div>
            {% endif %}
            <h2 class="courseTitle">{{ record.title }}</h2>
            <hr class="star-primary">
            {{ record.full_description|raw }}

            {% if record.classes|length > 0 %}

         <div class="classList">
               <h2>{{ "Liste des modules de ce cours"|_ }}</h2>

                {% for class in record.classes %}

                    <div class="classInfo">
                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(class, detailsKeyColumn) }) }}">
                            <div class="list-module module-image">
                                {% if class.picture %}
                                    <img src="{{class.picture|media}}"/>
                                {% elseif class.youtube_id %}
                                    <img src="http://img.youtube.com/vi/{{class.youtube_id}}/0.jpg"/>
                                {% endif %}
                            </div>
                            <div class="list-module module-text">
                                    <h2 class="content-head">{{class.title}}</h2>
                                    {{ class.intro|raw }}
                            </div>
                        </a>
                    </div>

                {% endfor %}

                 </div>
             {% else %}
            <strong>{{ "Aucun module n'a été trouvé pour ce cours"|_ }}</strong>
        {% endif %}




        </div>
    </div>
</div>
