title = "Détail du module"
url = "/module/:slug"
layout = "freelancer"
is_hidden = 0

[builderDetails]
modelClass = "LTN\ElearningCourses\Models\Module"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}
<div class="container course mainSection">
    <div class="row">

<a class="back" href="{{ 'detail-du-cours.htm'|page({ slug: record.course.slug}) }}"><i class="fa fa-arrow-left"></i> {{"Retour à la liste des modules du cours"|_}} <strong>{{record.course.title}}</strong></a>

<div class="l-box-lrg">
    {% if (record and (record.intro or record.content or record.conclusion)) %}

        <h1 class="courseTitle">{{ record.title }}</h1>
        <hr class="star-primary">
        {{ record.intro|raw }}
        {{ record.content|raw }}
        {{ record.conclusion|raw }}
    {% else %}
        {{ "Malheureusement, ce module n'a pas encore de contenu"|_ }}
    {% endif %}

</div>
</div>
</div>
