title = "Détail de la fondation"
url = "/page/la-fondation"
layout = "freelancer"
is_hidden = 0

[builderList fondationContents]
modelClass = "LTN\ElearningCourses\Models\FondationContent"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "slug"
noRecordsMessage = "No records found"
detailsPage = "detail-de-la-classe"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
<div class="container course mainSection">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="courseTitle">{{"La fondation"|_}}</h2>
            <hr class="star-primary">
    

         <div class="classList">

                {% for fondationContent in fondationContents.records %}

                    <div class="classInfo">
                        <a href="{{fondationContent.link}}">
                            <div class="list-module module-image">
                            {% if fondationContent.picture %}
                                <img src="{{fondationContent.picture|media}}"/>
                            {% endif %}
                            </div>
                            <div class="list-module module-text">
                                    <h2 class="content-head">{{fondationContent.title}}</h2>
                                    {{ fondationContent.text|raw }}
                            </div>
                        </a>
                    </div>

                {% endfor %}
                 </div>




        </div>
    </div>
</div>