title = "La fondation Ynternet.org"
url = "/old-home"
layout = "freelancer"
is_hidden = 0

[builderDetails homepage_content]
modelClass = "LTN\ElearningCourses\Models\PageContent"
identifierValue = "homepage_content"
modelKeyColumn = "slug"
displayColumn = "content"
notFoundMessage = "Record not found"

[builderList conferenceList]
modelClass = "LTN\ElearningCourses\Models\Conference"
scope = "scopeIsOnHome"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 6
pageNumber = 0
sortColumn = "order"
sortDirection = "desc"
==
<div class="home">{% set conferenceRecords = conferenceList.records %}

<div class="push-nav"></div>
<section>
<div class="container course mainSection homepage">
	<div class="row">

		{% if conferenceRecords|length > 0 %}
		<h2>{{"Nos conférences à venir"|_}}</h2>
		<hr class="star-light">
		<div class="conferences--wrapper">
			{% for conference in conferenceRecords %}
			<a class="conferences--item" href="detail-de-la-conference/{{conference.slug}}">
				<div class="conferences--info">
					<div class="conferences--info--date">{{conference.date|date("d/m/Y", "Europe/Paris")}}</div>
					<div class="conferences--info--description">
						<div class="conferences--info--description--title">{{conference.title}}</div>
						<div class="conferences--info--description--body">{{conference.small_description | raw}}</div>
					</div>
				</div>
				<div class="conferences--intervenant">
					<div class="conferences--intervenant--picture"><img src="/storage/app/media{{conference.team_member.picture}}" class="fr-dii fr-draggable"></div>
					<div class="conferences--intervenant--name">{{"Intervenant.e"|_}}:
						<br>{{conference.team_member.name}}</div>
				</div>
			</a>
			{% endfor %}
		</div>
		{% endif %}

		</section>
		{% set record = homepage_content.record %} {% set displayColumn = homepage_content.displayColumn %} {% if record %} {{ attribute(record, displayColumn) |raw}} {% endif %}
		</div>