title = "home2"
url = "/page/tous-citoyens-du-net2"
layout = "freelancer"
is_hidden = 0

[viewBag]
localeUrl[en] = "/home2"

[builderList]
modelClass = "LTN\ElearningCourses\Models\Course"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "Pas de cours !"
detailsPage = "detail-du-cours"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "LTN\ElearningCourses\Models\Conference"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "detail-de-la-conference"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "order"
sortDirection = "desc"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% set conferenceRecords = builderList2.records %}
{% set conferenceDisplayColumn = builderList2.displayColumn %}
{% set conferenceNoRecordsMessage = builderList2.noRecordsMessage %}
{% set conferenceDetailsPage = builderList2.detailsPage %}
{% set conferenceDetailsKeyColumn = builderList2.detailsKeyColumn %}
{% set conferenceDetailsUrlParameter = builderList2.detailsUrlParameter %}
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if random(10) > 5 %}
                    <img class="img-responsive main-logo" src="{{ 'assets/img/logo7_centered2.png'|theme }}" alt="">
                {% else %}
                    <img class="img-responsive main-logo" src="{{ 'assets/img/logo7_centered_reverse.png'|theme }}" alt="">
                {% endif %}
             <!--    <div class="intro-text">
                    <span class="skills">Le site d'elearning pour devenir un vrai citoyen du net.</span>
                </div> -->
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{"À propos"|_}}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>{{"about_intro"|_}}</p>
            </div>
            <div class="page-scroll col-lg-3 col-lg-offset-2 text-center">
                <a href="#courses" class="btn btn-lg btn-outline">
                    <i class="fa fa-graduation-cap"></i>{{" Voir les cours"|_}}
                </a>
            </div>
            <div class="page-scroll col-lg-3 text-center">
                <a href="#conferences" class="btn btn-lg btn-outline">
                    <i class="fa fa-microphone"></i>{{" Voir les conférences"|_}}
                </a>
            </div>
            <div class="page-scroll col-lg-3 text-center">
                <a href="{{'page-contenu'|page({ ('slug'): 'notre-campagne' }) }}" class="btn btn-lg btn-outline">
                    <i class="fa fa-info"></i>{{" Plus d'infos"|_}}
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section class="success portfolio" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{"Les cours"|_}}</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row portfolio-row">
            {% for record in records %}
                <div class="portfolio-item">
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="text">
                            <h3 class="content-head">{{ attribute(record, displayColumn) }}</h3>
                            <p>{{ record.small_description|raw }}</p>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="portfolio-item">
                    <div class="text">
                      <p>{{ noRecordsMessage|_ }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


<!-- Portfolio Grid Section -->
<section class="portfolio" id="conferences">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{"Les conférences"|_}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row portfolio-row">
            {% for conference in conferenceRecords %}
                <div class="portfolio-item">
                    <a href="{{ conferenceDetailsPage|page({ (conferenceDetailsUrlParameter): attribute(conference, conferenceDetailsKeyColumn) }) }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="text">
                            <h3 class="content-head">{{ attribute(conference, conferenceDisplayColumn) }}</h3>
                            <p>{{ conference.small_description|raw }}</p>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="portfolio-item">
                    <div class="text">
                      <p>{{ conferenceNoRecordsMessage|_ }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Contact Section -->
<!-- <section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->


 <!--    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="{{ 'assets/freelancer/img/portfolio/cabin.png'|theme }}" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<!--
<div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                    <form class="pure-form pure-form-stacked" id="subscribe-form"
                        data-request="mailSignup::onSignup"
                        data-request-update="'mailSignup/result': '#subscribe-form'">
                        <fieldset>
                            <label for="mce-fname">{{ "Votre prénom"|_}}</label>
                            <input type="text" value="" name="merge[FNAME]" class="" id="mce-fname" placeholder="{{ "Votre prénom"|_}}">

                            <label for="mce-lname">{{ "Votre nom"|_}}</label>
                            <input type="text" value="" name="merge[LNAME]" class="" id="mce-lname" placeholder="{{ "Votre nom"|_}}">

                            <label for="emailInput">{{ "Votre email"|_}}</label>
                            <input id="emailInput" type="email" name="email" placeholder="{{ "Votre Email"|_}}">

                            <button type="submit" class="pure-button">{{ "Je veux m'inscrire à la newsletter !"|_}}</button>
                        </fieldset>
                    </form>
                </div> -->