title = "La fondation Ynternet.org"
url = "/"
layout = "freelancer"
is_hidden = 0

[builderDetails homepage_content]
modelClass = "LTN\ElearningCourses\Models\PageContent"
identifierValue = "homepage_content"
modelKeyColumn = "slug"
displayColumn = "content"
notFoundMessage = "Record not found"

[builderList conferenceList]
modelClass = "LTN\ElearningCourses\Models\Conference"
scope = "scopeIsOnHome"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 6
pageNumber = 0
sortColumn = "order"
sortDirection = "desc"
==
<div class="home">
{% set conferenceRecords = conferenceList.records %}

<div class="push-nav"></div>

		{% set record = homepage_content.record %} {% set displayColumn = homepage_content.displayColumn %} {% if record %} {{ attribute(record, displayColumn) |raw}} {% endif %}
        
<div class="section">
<section>
<div class="course mainSection">
		{% if conferenceRecords|length > 0 %}
		<h2>{{"Nos conférences à venir"|_}}</h2>
		<hr class="star-light">
		<div class="conferences--wrapper">
			{% for conference in conferenceRecords %}
			<a class="conferences--item" href="detail-de-la-conference/{{conference.slug}}">
				<div class="conferences--info">
					<div class="conferences--info--date">{{conference.date|date("d/m/Y", "Europe/Paris")}}</div>
					<div class="conferences--info--description">
						<div class="conferences--info--description--title">{{conference.title}}</div>
						<div class="conferences--info--description--body">{{conference.small_description | raw}}</div>
					</div>
				</div>
				<div class="conferences--intervenant">
					<div class="conferences--intervenant--picture"><img src="/storage/app/media{{conference.team_member.picture}}" class="fr-dii fr-draggable"></div>
					<div class="conferences--intervenant--name">{{"Intervenant.e"|_}}:
						<br>{{conference.team_member.name}}</div>
				</div>
			</a>
			{% endfor %}
		</div>
		{% endif %}
</section>
		</div>
		
<!-- About Section -->
<div class="section"><section id="home">
<div class="text-center"><img src="https://ynternet.org/themes/elearning/assets/img/24174556_1957672214501515_774763433975161586_n.png">
<br/> <br/>{{"Ynternet.org respecte votre vie privée. Nous ne pistons pas votre navigateur ni vos données."|_}} <a href="https://www.eff.org/dnt-policy" target="_blank">Do-Not-Track</a></div>
</section>
</div>
		</div>