title = "L'impact de Ynternet.org"
url = "/page/impact"
layout = "freelancer"
is_hidden = 0

[builderList impactList]
modelClass = "LTN\ElearningCourses\Models\Impact"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "date"
sortDirection = "desc"
==
<div class="container course mainSection">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="courseTitle">{{"L'impact de Ynternet.org"|_}}</h2>
            <hr class="star-primary">
<ul class="nav nav-pills" id="imp-years">
  <!--<li class="active"><a href="#">2023</a></li>-->
</ul>  <br/>          <br/>
            <p>{{"Nombre total de participants :"|_}} <strong id="nbrOfPArticipant"></strong></p>
            <p>{{"Nombre total d'heure de cours :"|_}} <strong id="hoursOfTraining"></strong></p>
           
            
<div class="table-responsive">  
<table class="table">
<thead>
  <tr>
    <th scope="col">{{"Activity"|_}}</th>
    <th scope="col" class="bigcell">{{"Title"|_}}</th>
    <th scope="col">{{"Project"|_}}</th>
    <th scope="col">{{"Main partner"|_}}</th>
    <th scope="col">{{"Number of participants"|_}}</th>
    <th scope="col">{{"Hours of trainin"|_}}g</th>
    <th scope="col">{{"Month/Year"|_}}</th>
    <th scope="col">{{"Evaluation"|_}}</th>
    <th scope="col" class="oneline">{{"Documentation"|_}}</th>
  </tr>
  </thead>
  
  <tbody>
  {% for impact in impactList.records %}
  <tr class="imp-row" data-year="{{impact.date|date("Y")}}">
      <td>{{impact.activity}}</td>
      <th class="bigcell">{{impact.title}}</th>
      <td>{{impact.project}}</td>
      <td>{{impact.main_partner}}</td>
      <td class="nbrOfPArticipant" data-value="{{impact.number_of_participants}}">{{impact.number_of_participants}}</td>
      <td class="hoursOfTraining" data-value="{{impact.hours_of_training}}">{{impact.hours_of_training}}</td>
      <td>
          {% if impact.date %}
              {{impact.date|date("m/Y")}}
          {% endif %}
      </td>
      <td>{{impact.evaluation}}</td>
      <td class="oneline">{{impact.documentation}}</td>
  </tr>
{% endfor %}

  </tbody>
</table> 

        </div>
        </div>
    </div>
</div>

{% put scripts %}
    <script>
    function toggleYear(event) {
            let year = event.target.parentElement.dataset.year;
            let setActive = document.querySelector('.year-nav[data-year="'+year+'"]').classList.toggle('active');
            
            document.querySelectorAll('.year-nav:not([data-year="'+year+'"])').forEach(elem => {
                elem.classList.remove('active') 
            });
            
            if (setActive) {
                document.querySelectorAll('.imp-row:not([data-year="'+year+'"])').forEach(elem => {
                    elem.style.display = 'none';
                });
                document.querySelectorAll('.imp-row[data-year="'+year+'"]').forEach(elem => {
                    elem.style.display = '';
                });
                
            } else {
                document.querySelectorAll('.imp-row').forEach(elem => {
                    elem.style.display = '';
                });
            }
            computeAll();
    }
    
    function computeAll() {
        let nbrOfPArticipant = 0;
        document.querySelectorAll('.nbrOfPArticipant').forEach(node => {
            if (node.parentElement.style.display != 'none') {
                nbrOfPArticipant += Number(node.dataset.value);
            }
        })
        document.querySelector('#nbrOfPArticipant').textContent = nbrOfPArticipant;
        
        let hoursOfTraining = 0;
        document.querySelectorAll('.hoursOfTraining').forEach(node => {
            if (node.parentElement.style.display != 'none') {
                hoursOfTraining += Number(node.dataset.value);
            }
        })
        document.querySelector('#hoursOfTraining').textContent = hoursOfTraining;
    }
    
    let years = [];
    document.querySelectorAll('.imp-row').forEach(row => {
        if (years.indexOf(row.dataset.year) < 0) {
            years.push(row.dataset.year);
        }
    })
    
    years.sort();
    years.forEach(year => {
        let a  = document.createElement('a');
        a.href="#";
        a.textContent = year;
        a.onclick = toggleYear;
        let li = document.createElement('li');
        li.classList.add('year-nav');
        li.dataset.year=year;
        li.appendChild(a);
        document.querySelector('#imp-years').appendChild(li);
    })
    
    computeAll();
    
    </script>
{% endput %}