title = "La fondation"
url = "/page/la-fondation-membres-old"
layout = "freelancer"
is_hidden = 0

[viewBag]
localeTitle[en] = "The Foundation"

[builderDetails]
modelClass = "LTN\ElearningCourses\Models\TeamCategory"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "label"
notFoundMessage = "Record not found"
==
{% set category = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="container course ma{% component 'builderDetails' %}inSection">
    <div class="row">
            <h1 class="courseTitle">{{ category.label }}
            </h1>
            <hr class="star-primary">
            {% for member in category.members %}
                <div class="member">
                    <p>
                        <h4 class="memberHeader">{{ member.name }}
                            <svg class="svg arrow" viewBox="0 0 20 10">
                              <path d="M0 10 L10 0 L20 10"></path>
                            </svg>
                        </h4>
                        <div class="description">
                        {% if member.link %}
                            <a target="_blank" href="{{member.link}}">
                                {% if member.picture %}
                                    <img src="{{member.picture|media}}">
                                {% else %}
                                    {{"Profile"|_}}
                                {% endif %}
                            </a>
                        {% else %}
                            {% if member.picture %}
                                <img src="{{member.picture|media}}">
                            {% endif %}
                        {% endif %}

                        {{ member.description|raw }}
                        </div><br/>
                    </p>
                </div>
        {% endfor %}

    </div>
</div>

{% put scripts %}
    <script>
        $('.memberHeader').click(function() {
            if ($(this).hasClass('open')) {
                $(this).removeClass('open');
            } else {
                $(this).addClass('open');
            }
        });
    </script>
{% endput %}
