title = "La fondation nouvelle page"
url = "/page/la-fondation-membres"
layout = "freelancer"
is_hidden = 0

[viewBag]
localeTitle[en] = "The Foundation New Page"

[builderDetails conseilDeLaFondation]
modelClass = "LTN\ElearningCourses\Models\TeamCategory"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "label"
notFoundMessage = "Record not found"

[builderDetails conseilScientifique]
modelClass = "LTN\ElearningCourses\Models\TeamCategory"
identifierValue = 3
modelKeyColumn = "id"
displayColumn = "label"
notFoundMessage = "Record not found"
==
<div class="container course mainSection mainSectionFlex">
    <div class="row">
{% set category = conseilDeLaFondation.record %}
{% set displayColumn = conseilDeLaFondation.displayColumn %}
{% set notFoundMessage = conseilDeLaFondation.notFoundMessage %}
            <h1 class="courseTitle">{{ category.label }}
            </h1>
            <hr class="star-primary">
            {% for member in category.members %}
                <div class="member">
                    <p>
                        <h4 class="memberHeader">
                            <svg class="svg arrow" viewBox="0 0 20 10">
                              <path d="M0 10 L10 0 L20 10"></path>
                            </svg> {{ member.name }}
                        </h4>
                        <div class="description">
                        {% if member.link %}
                            <a target="_blank" href="{{member.link}}">
                                {% if member.picture %}
                                    <img src="{{member.picture|media}}">
                                {% else %}
                                    {{"Profile"|_}}
                                {% endif %}
                            </a>
                        {% else %}
                            {% if member.picture %}
                                <img src="{{member.picture|media}}">
                            {% endif %}
                        {% endif %}

                        {{ member.description|raw }}
                        </div><br/>
                    </p>
                </div>
        {% endfor %}

    </div>
    
    <div class="row">
{% set category = conseilScientifique.record %}
{% set displayColumn = conseilScientifique.displayColumn %}
{% set notFoundMessage = conseilScientifique.notFoundMessage %}
            <h1 class="courseTitle">{{ category.label }}
            </h1>
            <hr class="star-primary">
            {% for member in category.members %}
                <div class="member">
                    <p>
                        <h4 class="memberHeader">
                            <svg class="svg arrow" viewBox="0 0 20 10">
                              <path d="M0 10 L10 0 L20 10"></path>
                            </svg> {{ member.name }}
                        </h4>
                        <div class="description">
                        {% if member.link %}
                            <a target="_blank" href="{{member.link}}">
                                {% if member.picture %}
                                    <img src="{{member.picture|media}}">
                                {% else %}
                                    {{"Profile"|_}}
                                {% endif %}
                            </a>
                        {% else %}
                            {% if member.picture %}
                                <img src="{{member.picture|media}}">
                            {% endif %}
                        {% endif %}

                        {{ member.description|raw }}
                        </div><br/>
                    </p>
                </div>
        {% endfor %}

    </div>
</div>

{% put scripts %}
    <script>
        $('.memberHeader').click(function() {
            if ($(this).hasClass('open')) {
                $(this).removeClass('open');
            } else {
                $(this).addClass('open');
            }
        });
    </script>
{% endput %}
