title = "Our book « CITOYENS DU NET »"
url = "/page/livre"
layout = "freelancer"
description = "La page de vente du livre"
is_hidden = 0

[ssbuttonsssb]
facebook = 1
twitter = 1
google+ = 1
tumblr = 0
pinterest = 0
pocket = 0
reddit = 0
linkedin = 0
wordpress = 0
pinboard = 0
email = 1
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "flat_web_icon_set_color"
==
<div class="container course mainSection">
    <div class="row">
        <div class="col-lg-12">

            <h2 class="courseTitle">{{"Notre livre « CITOYENS DU NET »"|_}}</h2>
            <hr class="star-primary">
            <div style="text-align: center;">{% component 'ssbuttonsssb' %}</div>
            <br/>
        </div>

        <h2 style="text-align: center;">{{"Le premier manuel d’eCulture générale au travail,<br/>en formation et en famille"|_}}</h2>

        <p>{{"«<em>&nbsp;Un livre indispensable, dynamique et amusant !&nbsp;</em>» – Jacques Vallée, pionnier d’Arpanet"|_}}</p>
        <br/>

        <p><span class="fr-video fr-draggable fr-dvi fr-fvl" contenteditable="false" draggable="true" style="float: left; margin: 1em 1em 0em 0"><iframe width="560" height="315" src="https://www.youtube.com/embed/4saVoJ1PIQ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span> <strong>{{"« Citoyens du Net »</strong>, c’est plus de 100 livres sur la culture numérique résumés en 1 seul. Un travail collaboratif de 10 ans, imaginé par Théo Bondolfi, qui réunit des experts internationaux de la culture numérique tels que Jacques Vallée, un des pionniers d’Arpanet, la première version d’Internet dans les années 1970, Florence Devouard, ancienne présidente de la fondation qui gère l’encyclopédie Wikipédia, et Richard Stallman, initiateur du mouvement des logiciels libres, etc."|_}}</p>

        <p>
            <br><strong>{{"« Citoyens du Net »</strong> est un ouvrage complet, indémodable (en effet, il s’intéresse davantage aux aspects socio-comportementaux que techniques d’Internet), et aussi divertissant qu’intéressant."|_}}</p>
        <br/>

        <h3 style="text-align: center;"><strong>{{"Téléchargez gratuitement la version digitale du livre « Citoyens du Net »"|_}}</strong></h3>

        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//ynternet.us14.list-manage.com/subscribe/post?u=10e9f3ed2bbbaad8ec9a73da7&amp;id=a5fcfb58b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Inscrivez-vous à notre newsletter pour avoir accès au lien de téléchargement :</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Votre adresse email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_10e9f3ed2bbbaad8ec9a73da7_a5fcfb58b9" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Emmenez-moi au téléchargement !" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

<!--End mc_embed_signup-->

        <h2>{{"Faire un don ?"|_}}</h2>

        <p>{{"Par ailleurs, nous vous serions TRÈS RECONNAISSANTS de bien vouloir soutenir la fondation Ynternet.org par un don."|_}}</p>

        <p>{{"Ceci nous aide dans nos activités de bien commun, et nous permet de continuer à fournir gratuitement au public des ouvrages de cette qualité."|_}}</p>

        <p><strong>{{"Vous pouvez faire un don en remplissant le bref formulaire ci-dessous :"|_}}</strong></p>

        <p>({{"La majorité des donateurs font une contribution de 10€ ou plus"|_}})
        </p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="HCCSKJ4KTHZRY">
        <input type="image" src="https://www.paypalobjects.com/fr_FR/CH/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
        <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
        </form>

        <br/>
        <p>{{"IMPORTANT :  VOS DONS VOUS DONNENT DROIT A UNE REDUCTION D’IMPÔT TANT SUR LE PLAN FEDERAL QUE CANTONAL ET COMMUNAL"|_}}</p>
<p>{{"En principe, le montant de votre (vos) don(s) durant l’année fiscale est déductible jusqu'à concurrence de 20% de votre revenu net, à condition qu’il s'élève à CHF 100.- au moins."|_}}</p>
<p>{{"Pour les versements provenant de personnes morales (sociétés, associations, fondations, etc.), la déduction des dons est limitée à 20% du bénéfice net.
Cette possibilité de déduction est valable pour les personnes physiques et morales domiciliées en Suisse et, en principe, pour celles domiciliées dans un Etat de l’Union européenne."|_}}</p>
<p>{{"A réception de votre don, la Fondation Ynternet.org vous fournira une attestation de don que vous devrez joindre à votre déclaration fiscale. 
Merci encore pour votre soutien qui fait toute la différence,"|_}}</p>
</p>
        <p>{{"Toute l’équipe Ynternet.org"|_}}</p>

    </div>
</div>