title = "Notre livre « CITOYENS DU NET » - téléchargement"
url = "/page/livre/dl"
layout = "freelancer"
description = "La page de téléchargement du livre"
is_hidden = 0

[viewBag]
localeUrl[en] = "/notre-livre-citoyens-du-net-telechargement"
==
<div class="container course mainSection">
	<div class="row">
		<div class="col-lg-12">

			<h2 class="courseTitle">Notre livre « CITOYENS DU NET »</h2>
			<hr class="star-primary">
		</div>

		<h2 style="text-align: center;">Le Téléchargement de « Citoyens du net » en version numérique</h2>

		<p>
			<br>
		</p>

		<p>Merci pour votre inscription ! Tout est en ordre !</p>

		<p><a href="https://www.tedxgeneva.net/wp-content/uploads/CDN1.0c-1.pdf">Voici le lien pour télécharger la version numérique.</a></p>

		<p><strong>Assurez-vous d’ajouter l’adresse « info @ ynternet.org » en liste blanche pour ne jamais rater un contenu important de notre part.</strong></p>

		<h2>Faire un don ?</h2>

		<p>Par ailleurs, nous vous serions TRÈS RECONNAISSANTS de bien vouloir soutenir la fondation Ynternet.org par un don.</p>

		<p>Ceci nous aide dans nos activités de bien commun, et nous permet de continuer à fournir gratuitement au public des ouvrages de cette qualité.</p>

		<p><strong>Vous pouvez faire un don en remplissant le bref formulaire ci-dessous :</strong></p>

		<p>(La majorité des donateurs font une contribution de 10.- ou plus)
		</p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="HCCSKJ4KTHZRY">
		<input type="image" src="https://www.paypalobjects.com/fr_FR/CH/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
		<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
		
		</form>IMPORTANT :  VOS DONS VOUS DONNENT DROIT A UNE REDUCTION D’IMPÔT TANT SUR LE PLAN FEDERAL QUE CANTONAL ET COMMUNAL

		</form>IEn principe, le montant de votre (vos) don(s) durant l’année fiscale est déductible jusqu'à concurrence de 20% de votre revenu net, à condition qu’il s'élève à CHF 100.- au moins.

		</form>IPour les versements provenant de personnes morales (sociétés, associations, fondations, etc.), la déduction des dons est limitée à 20% du bénéfice net.

		</form>ICette possibilité de déduction est valable pour les personnes physiques et morales domiciliées en Suisse et, en principe, pour celles domiciliées dans un Etat de l’Union européenne.

		</form>I réception de votre don, la Fondation Ynternet.org vous fournira une attestation de don que vous devrez joindre à votre déclaration fiscale. 

<br/>
		<p>Merci encore pour votre soutien qui fait toute la différence,</p>

		<p>Toute l’équipe Ynternet.org</p>

		<p>&nbsp;</p>
	</div>
</div>