title = "Page"
url = "/page/:slug"
layout = "freelancer"
is_hidden = 0

[viewBag]

[builderDetails]
modelClass = "LTN\ElearningCourses\Models\PageContent"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "content"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}

<div class="container course mainSection">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="courseTitle">{{ record.title }}</h2>
            <hr class="star-primary">
            {{ attribute(record, displayColumn) | raw}}
        </div>
    </div>
</div>
{% endif %}