title = "Projets"
url = "/page/nos-projets"
layout = "freelancer"
is_hidden = 0

[builderList]
modelClass = "LTN\ElearningCourses\Models\ProjectCategory"
scope = "-"
displayColumn = "label"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "order"
sortDirection = "asc"
==
{% set posts = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="container course mainSection">
    {% for category in posts %}
    <div class="row">
            <h1 class="courseTitle">{{ category.label }}
            </h1>
            <hr class="star-primary">
            {% for projet in category.projets %}
                <div class="member">
                    <p>
                        <h4 class="memberHeader">{{ projet.title }}
                            <svg class="svg arrow" viewBox="0 0 20 10">
                              <path d="M0 10 L10 0 L20 10"></path>
                            </svg>
                        </h4>
                        <div class="description project">
                        {% if projet.picture %}
                            <img src="{{projet.picture|media}}">
                        {% endif %}
                        {{ projet.description|raw }}
                        </div><br/>
                    </p>
                </div>
        {% endfor %}

    </div>
    {% endfor %}
</div>

{% put scripts %}
    <script>
        $('.memberHeader').click(function() {
            if ($(this).hasClass('open')) {
                $(this).removeClass('open');
            } else {
                $(this).addClass('open');
            }
        });
    </script>
{% endput %}
