title = "ressource_unique"
url = "/page/ressources/:slug"
layout = "freelancer"
is_hidden = 0

[viewBag]
localeUrl[en] = "/page/ressources/:slug"

[builderDetails ressource]
modelClass = "LTN\ElearningCourses\Models\BlogPost"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "content"
notFoundMessage = "Aucune ressource trouvé !"

[ssbuttonsssb]
facebook = 1
twitter = 1
google+ = 1
tumblr = 0
pinterest = 0
pocket = 0
reddit = 0
linkedin = 0
wordpress = 0
pinboard = 0
email = 1
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "flat_web_icon_set_color"
==
{% set post = ressource.record %}
{% set displayColumn = ressource.displayColumn %}
{% set notFoundMessage = ressource.notFoundMessage %}

<div class="container course mainSection">
    <a class="back" href="{{'blog'|page}}"><i class="fa fa-arrow-left"></i> {{"Retour à la liste des ressources"|_}}</a>
    <div class="row">
        <h1 class="">{{ post.title }}</h1>
        <ul class="list-inline item-details ">
            <li>{{"Date"|_}}:
                <strong>{{ post.date | strftime('%A, %d %B %Y %H:%M') | ucfirst }}</strong>
            </li>
            {% if post.tags %}
            <li>{{"Tags"|_}}:
                {% for tag in post.tags %}<strong>{% if loop.index0 %}, {% endif %}{{tag}}</strong>{% endfor %}
            </li>
            {% endif %}
        </ul>
        {% component 'ssbuttonsssb' %}
        <br/>
        {{ post.content | raw }}
    </div>
        <hr class="star-primary">
</div>